/app/config/parameters.yml
/bin/symfony_requirements
/build/
/composer.lock
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/var/SymfonyRequirements.php
/web/bundles/
/web/app.php
/.idea
